<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-01-08 22:57:12
 * @@Modify Date: 2017-04-25 08:52:26
 * @@Function:
 */
 ?>
<?php if($this->getStatus() == 2) return; ?>
<?php $selector = 'alo-content-'.rand(0,999999999); ?>
<div class= "<?php echo $selector?> magicproduct magiccategory magiccategory-custom">
<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($this->getCategoryId());
$tabs = $this->getTabs();
$numTabs = count($tabs);
if($numTabs): ?>
    <div class="magic-category">
	    <div class="block-title-tabs clearfix">
		    <!-- <h3 class="title"><?php //echo __($this->getTitle()); ?></h3 -->
		    <span class="toggle-tab mobile" style="display:none"><i class="fa fa-bars"></i></span>
			<ul class="magictabs toggle-content clearfix" data-ajax ='<?php echo $this->getAjaxCfg() ?>'>
			<?php $activated = $this->getTabActivated();
				$limit = $this->getLimit();
				$single = ($numTabs ==1) ? 'single' : '';
				foreach ($tabs as $type => $name):
					$status  = (!$this->getAjax() || $activated ==$type) ? 'loaded' : '';
					$status .= ($type == $activated) ? " activated $single" : '';
					echo '<li class="item '.$status.'" data-type ="'.$type.'"><span class ="title">'.__($name).'</span></li>';
				endforeach;
			?>
			<li class="item item-view"><a href="<?php echo $_category->getUrl() ?>" title="<?php echo __('View All') ?>" class="cat-view-all"><?php echo __('View All') ?></a>
			</li>
			</ul>
	    </div>
	</div>
<?php endif ?>
	<div class="ajax_loading" style="display:none" data-url="<?php echo $this->getUrl('magicproduct/index/category', array('_type' => 'direct_link', '_secure'=>$this->getRequest()->isSecure()))?>"></div>
	<div class="box-product-content clearfix">
	    <?php if($image = $this->getImage()): ?>
	    <div class="box-product-adv">
			<div class="promotion">
				<img src="<?php echo $this->getMediaUrl() . $this->getImage();?>">
			</div>
	    </div> 
		<?php endif ?>
	    <div class="box-product">
			<div class="content-products" 
			<?php foreach ($this->getFrontendCfg() as $opt) :?>
				data-<?php echo $opt ?>='<?php echo $this->getData($opt) ?>'
			<?php endforeach;?>        
			>
			<?php 
				$timer = $this->getTimer();
				if($timer) echo $this->getContent('category/gridtimer-custom.phtml');	
				else echo $this->getContent('category/grid-custom.phtml');	
			?>
			</div>
		</div>
	</div>	
</div>

<script type="text/javascript">
	require([
		'jquery',
		'magiccart/slick',
		'magicproduct'
		], function($, slick, magicproduct){
			$(".<?php echo $selector?>").magicproduct({
				selector : ".<?php echo $selector?>", // Selector product grid
			});
		});
</script>

