<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

?>
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
 
<header class="page-header alothemes">
    <div class="header">
        <div class="header-top">
			<div class="container">
				<div class="top-left top-mobile">
					<div class="tool-setting">
						<div class="header-setting">
							<div class="settting-switcher">
								<?php echo $this->getChildHtml('store_language'); ?>
							</div>
						</div>
						<div class="header-setting currency_top">
							<div class="settting-switcher">
								<?php echo $this->getChildHtml('currency'); ?>
							</div>
						</div>
					</div>
				</div>
				<div class="top-right top-mobile">
					<?php echo $this->getChildHtml('header.links'); ?> 
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('about-social')->toHtml();?>
				</div>
			</div>
		</div>	
		<div class="header-content">
			<div class="container">
				<div class="row clearfix">
				    <div class="tool-topsearch toggle-tab-mobile col-sm-4 col-md-4">
						<span class="toggle-tab mobile" style="display:none"><i class="fa fa-search icons"></i></span>
						<div class="toggle-content">
							<?php echo $this->getChildHtml('top.search'); ?>
						</div>
					</div>
				    <div class="content-logo col-sm-4 col-md-4">
						<div class="header-logo">
							<?php echo $this->getChildHtml('logo'); ?>
						</div>
					</div>
					<div class="col-sm-4 col-md-4 content-cart">
						<div class="tool-header">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('support')->toHtml();?>
							<?php echo $this->getChildHtml('minicart'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
            <div class="header-sticker">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 menu-mobile visible-md-on">
							<?php echo $this->getChildHtml('navigation.sections'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</header>
