<?php
if(!$this->getEnabled()) return;
$selector = 'alo-content-'.rand(0,999999999);
$brands = $this->getBrands();
if(!count($brands)) return;
?>
<div class="<?php echo $selector ?>">
    <?php echo $this->getTitle() ? '<h2 class="title item">' . '<span>' . $this->getTitle() . '</span>' . '</h2>' : '' ?>
    <div class="shopbrand"
    <?php foreach ($this->getFrontendCfg() as $opt) :?>
        data-<?php echo $opt ?>='<?php echo $this->getData($opt) ?>'
    <?php endforeach;?>  
    >
        <?php $i=0; foreach ($brands as $brand) :?>
			<div class="item">
				<a href="<?php echo $this->getUrlBrand($brand) ?>">
					<img class="brand img-responsive" src="<?php echo $this->getImage($brand)?>" alt="<?php echo __($brand->getTitle()) ?>" title="<?php echo __($brand->getTitle()) ?>" />
				</a>
			</div>
        <?php endforeach ?>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery',
        'magiccart/slick',
        'alothemes',
        ], function($){
            (function($) {
                var shopbrand  = $('.<?php echo $selector ?> .shopbrand');
                if(shopbrand.length) $('head').append(magicproduct(shopbrand, '.item'));
            })(jQuery); 
    });
</script>

