<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="images-breadcrumbs breadcrumbs">
	<div class="category-view-position">
		<div class="container">
			<div class="inner-breadcrumbs">
				<div class="breadcrumbs-content" data-mage-init='{
					"breadcrumbs": {
						"categoryUrlSuffix": "<?= $block->escapeHtml($viewModel->getCategoryUrlSuffix()); ?>",
						"useCategoryPathInUrl": <?= (int)$viewModel->isCategoryUsedInProductUrl(); ?>,
						"product": "<?= $block->escapeHtml($viewModel->getProductName()); ?>"
					}
				}'>
				</div>
			</div>
		</div>
	</div>
</div>
