<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-02-08 22:57:12
 * @@Modify Date: 2017-01-13 16:36:20
 * @@Function:
 */
 ?>
<?php

// $_aloHelper = $this->helper('Magiccart\Magicmenu\Helper\Data');
// var_dump($_aloHelper->getConfig('magicmenu'));

$accordion = $this->_sysCfg->accordion;
if(!$accordion['enabled']) return;
// drawMainMenu vs DrowMobileMenu
$menuHtml = $this->drawMainMenu();
$mobileMenu = $menuHtml['mobile'];
?>
<div class="accordion-container">
	<div class="meanmenu-accordion">
		<h3 class="accor-title"><?php echo __($this->getRootName())?></h3>
		<ul class="accordion nav-accordion" data-alo-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
			<?php echo $mobileMenu ?>
		</ul>	
		<div class="all-cat"><span><?php echo __('All Categories')?></span><span style="display:none"><?php echo __('Close')?></span></div>
	</div>
</div>
<script type="text/javascript">
	require(['jquery','magiccart/easing','magicmenu']);
</script>

