<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-02-08 22:57:12
 * @@Modify Date: 2018-08-03 08:49:23
 * @@Function:
 */

$menu = $this->_sysCfg->topmenu;
$vmenu = $this->_sysCfg->vmenu;

// drawMainMenu vs DrowMobileMenu
$menuHtml = $this->drawMainMenu();
$mobileMenu = $menuHtml['mobile'];
$desktop 	= $menuHtml['desktop'];
$vdesktop 	= $menuHtml['desktop'];
$ids  = explode(',', $menu['notIncludeNav']);
$vids  = explode(',', $vmenu['notIncludeNav']);
foreach ($ids as $id) { unset($desktop[$id]); }
foreach ($vids as $vid) { unset($vdesktop[$vid]); }
// drawHomeMenu
$drawHomeMenu 	= $menu['home'] ? $this->drawHomeMenu() : '';
$vdrawHomeMenu 	= $vmenu['home'] ? $this->drawHomeMenu() : '';
// drawMainMenu
$drawMainMenu 	= $menu['mainCat'] ? implode("\n", $desktop) : '';
$vdrawMainMenu 	= $vmenu['mainCat'] ? implode("\n", $vdesktop) : '';
// drawExtMenu ExtraMenu
$drawExtraMenu 	= $menu['extraCat'] ? $this->drawExtraMenu() : '';
$vdrawExtraMenu = $vmenu['extraCat'] ? $this->drawExtraMenu() : '';

?>
<nav class="navigation mean-nav navigation-mobile" role="navigation" data-action="navigation">
	<ul class="nav-mobile" data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
		<?php echo $mobileMenu ?>
		<?php echo $drawExtraMenu ?>
	</ul>
</nav>
<?php if($vmenu['enabled']) : ?>
<div class="vmagicmenu vertical-menu clearfix">
	<h3 class="v-title"><?php /* @escapeNotVerified */ echo __($this->getRootName())?></h3>
	<ul class="nav-desktop">
		<?php echo $vdrawHomeMenu ?>
		<?php echo $vdrawMainMenu ?>
		<?php echo $vdrawExtraMenu ?>
	</ul>
</div>
<?php endif ?>
<div class="magicmenu clearfix">
	<?php if($menu['enabled']) : ?>
	<ul class="nav-desktop <?php /* @escapeNotVerified */ echo $menu['sticker'] ? 'sticker' : '' ?>" data-fullwidth="<?php /* @escapeNotVerified */ echo $menu['fullWidth'] ?>">
		<?php echo $drawHomeMenu ?>
		<?php echo $drawMainMenu ?>
		<?php echo $drawExtraMenu ?>
	</ul>
	<?php endif ?>
</div>
<script type="text/javascript">
	require(['jquery','magiccart/easing','magicmenu']);
</script>
