<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

?>
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
 
<header class="page-header alothemes">
    <div class="header">
        <div class="header-top">
			<div class="container">
				<div class="top-left top-mobile">
					<div class="tool-setting">
						<div class="header-setting">
							<div class="settting-switcher">
								<?php echo $this->getChildHtml('store_language'); ?>
							</div>
						</div>
						<div class="header-setting currency_top">
							<div class="settting-switcher">
								<?php echo $this->getChildHtml('currency'); ?>
							</div>
						</div>
					</div>
				</div>
				<div class="top-header">
                    <p id="top-initial" <!--onclick="$j('#shipping-modal-wrapper').show();"--><?php echo __('We Deliver &amp; Install FOR FREE in NYC Metro Area*')?></p>
<!--					--><?php //echo $this->getChildHtml('header.links'); ?><!-- -->
<!--					--><?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('about-social')->toHtml();?>
				</div>
			</div>
		</div>	
		<div class="header-content header-sticker">
			<div class="container">
				<div class="row clearfix">
				    <div class="content-logo col-sm- col-md-3 col-lg-3">
						<div class="header-logo">
							<?php echo $this->getChildHtml('logo'); ?>
						</div>
					</div>
                    <div class="content-logo col-sm-5 col-md-5 col-lg-5">
                        <div class="top-info">
                            <span class="header-icon-phone">Call <a href="tel://201.705.1475">201.705.1475</a></span>
                            <span class="header-icon-showroom"><a href="https://www.contempospace.com/contempo-space-factory-showroom/">Factory Showroom</a></span>
                        </div>
                    </div>
                    <div class="content-logo col-sm-4 col-md-4 col-lg-4">
                        <div class="cart-account">
                            <ul class="links"><li class="link-1 first">
                                    <a href="<?php echo $block->getUrl('customer/account/')?>" title="<?php echo __('My Account')?>"><?php echo __('My Account')?></a></li><li class="link-2">
                                    <a href="<?php echo $block->getUrl('checkout/cart/')?>" title="<?php echo __('My Cart')?>" class="top-link-cart"><?php echo __('My Cart')?></a></li>
                            </ul>
                        </div>

                        <div class="tool-topsearch toggle-tab-mobile col-sm-6 col-md-7">
                            <span class="toggle-tab mobile" style="display:none"><i class="fa fa-search icons"></i></span>
                            <div class="toggle-content">
                                <?php echo $this->getChildHtml('top.search'); ?>
                            </div>
                        </div>

                    </div>

					<div class="col-sm-12 col-md-12 menu-mobile">
					    <?php echo $this->getChildHtml('navigation.sections'); ?>
                        <div class="navigation-wrapper-right"><a href="/contract-furniture">Contract</a></div>
<!--						<div class="content-cart">-->
<!--				    		<div class="tool-header">-->
<!--								--><?php //echo $this->getChildHtml('minicart'); ?>
<!--				    		</div>-->
<!--				    	</div>-->
					</div>
				</div>
			</div>
		</div>
<!--		<div class="header-bottom">-->
<!--			<div class="container">-->
<!--				<div class="row">-->
<!--					<div class="vertical-menu col-md-3 menu-mobile-none hidden-xs hidden-sm">-->
<!--						--><?php //echo $this->getChildHtml('vmenu') ?>
<!--					</div>-->
<!--					<div class="tool-topsearch toggle-tab-mobile col-sm-6 col-md-7">-->
<!--						<span class="toggle-tab mobile" style="display:none"><i class="fa fa-search icons"></i></span>-->
<!--						<div class="toggle-content">-->
<!--							--><?php //echo $this->getChildHtml('top.search'); ?>
<!--						</div>-->
<!--					</div>-->
<!--					<div class="header-icons col-sm-6 col-md-2">-->
<!--						<div class="tool-header">-->
<!--							--><?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('support')->toHtml();?>
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>		-->
	</div>
</header>
